.header {
    display: grid;
    grid-template-columns: 12% 23% 12% 12% 18% 23%;
    grid-template-rows: 30px;
    grid-gap: 2px;
    align-items: baseline;
    text-align: center;
    vertical-align: middle;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    margin-top: 20px;
    padding-top: 8px;
    background-color: #0000009a;
    backdrop-filter: blur(12px);
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.103);
} 

.name {
    cursor: pointer;
}

.name:hover {
    color: #00C2FF;
}

.age {
    cursor: pointer;
}

.age:hover {
    color: #00C2FF;
}